[submodule "external/string-view-lite"]
	path = external/string-view-lite
	url = https://github.com/martinmoene/string-view-lite
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/JsonBuilder"]
	path = external/JsonBuilder
	url = ../../Microsoft/JsonBuilder
[submodule "external/TraceLogging"]
	path = external/TraceLogging
	url = ../../Microsoft/TraceLogging
