jobs:
  - job: Linux
    pool:
      vmImage: 'Ubuntu 18.04'
    steps:
    - bash: |
        sudo apt update
        sudo apt install g++ liblttng-ust-dev uuid-dev -y
      displayName: 'Install dependency packages'

    - bash: |
        mkdir deps
        cd deps
        wget https://www.efficios.com/files/babeltrace/babeltrace-2.0.0.tar.bz2
        tar -xvf babeltrace-2.0.0.tar.bz2
        cd babeltrace-2.0.0
        sudo apt install libglib2.0-dev -y
        BABELTRACE_DEV_MODE=1 BABELTRACE_DEBUG_MODE=1 ./configure --disable-debug-info --disable-man-pages
        make
        sudo make install
      displayName: 'Install babeltrace'

    - task: CMake@1
      displayName: 'CMake Configure+Generate'
      inputs:
        cmakeArgs: '-DCMAKE_BUILD_TYPE=Debug ..'

    - task: CMake@1
      displayName: 'CMake Build'
      inputs:
        cmakeArgs: '--build .'

    - bash: |
        sudo apt-get install lttng-tools valgrind -y
      displayName: 'Install lttng-tools for tests'

    - bash: |
        lscpu -p | grep -c "^[0-9]"
        cd build/test
        mkdir testResults
        valgrind ./lttng-consumeTest -o testResults/TEST-LttngConsumeTest.xml -r junit
      displayName: 'Run test binary'
      continueOnError: true

    - task: PublishTestResults@2
      displayName: 'Publish test results'
      inputs:
        testResultsFiles: '**/TEST-*.xml'
